header {
    width: 100vw;
    padding: 20px 40px;
    background-color: rgb(194, 194, 194);
    position: sticky;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    padding: 40px;
}

.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.field {
    height: 100px;
    width: 100px;
    background-color: rgb(92, 195, 255);
    font-size: 12px;
    border: 1px solid #000000;
    text-align: center;
}