<header>
    <h1>Wlcome in Battleship Game</h1>
    <h3>Let's play!</h3>
</header>

<main>
    <div class="container">

        <div *ngIf="!isGameStarted && !isNewGameChosen && !isContinuationGameChosen">

            <button type="button" (click)="StartNewGame()"> New Game </button>

            <button type="button" (click)="ContinueGame()"> Continue Game </button>

        </div>

        <form *ngIf="!isGameStarted && isNewGameChosen && !isContinuationGameChosen"
        [formGroup]="newGameForm"
        (ngSubmit)="InitializeGame()">
            <input formControlName="firstPlayerName" type="text" placeholder="First Player Name">
            <input formControlName="secondPlayerName" type="text" placeholder="Second Player Name">
            <p>Insert board size</p>
            <input formControlName="xSize" type="number" min="7" max="20"> X <input formControlName="ySize" type="number" min="7" max="20">
            <button type="submit">Start Game</button>
        </form>

        <form *ngIf="!isGameStarted && !isNewGameChosen && isContinuationGameChosen"
        [formGroup]="continueGameForm"
        (ngSubmit)="LoadGame()">
            <p>Insert Game Number</p>
            <input type="number" formControlName="gameId">
            <button type="submit">Continue Game</button>
        </form>

        <article *ngIf="isGameStarted">
            <h2>GameId: {{game.id}}</h2>
            <section *ngFor="let player of game.players">
                <h3>{{player.name}}</h3>

                <div class="board">
                    
                    <div *ngFor="let row of player.board.rows" class="row">

                        <div *ngFor="let field of row.fields" class="field">
                            <p>position: {{field.x_Position}} , {{field.y_Position}}<br>
                            status: {{field.status}}<br>
                            shipId: {{field.shipId}}</p>
                        </div>
                        
                    </div>
                </div>
                
            </section>
        </article>


    </div>

    <router-outlet></router-outlet>
</main>
